

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;     
}
*{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(lightgray, lightblue,blue);
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bigbox{
  width: 1000px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

/*Menu principal*/
.title{  
  margin: auto;  
}

header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  padding: 0 2rem;
  width: 100%;  
}

header nav{    
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;     
}

nav .Link{
  border: solid rgb(125, 125, 211);
  border-radius: 10px;
  width: 80px;
  background-color:rgb(116, 177, 215) ;
  margin: 5px;
  color: rgb(96, 94, 94);
  margin-left: 20px;
}

nav .Link:hover{  
  font-size: 1.01em;  
  color: rgb(89, 89, 199);
}

header p{
  margin: 15px;
}


.navbar-toggler{
  background: none;
  border: 0;
  color: inherit;
  overflow: visible;
  padding: 0;
}


.botoncito{
  width: 120px;
}

/*Grid*/

.gridCont2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
}

.containerGrid{
  height: 100%;
  background-color: #cbdfdf;  
  box-shadow: 0 0 15px #85949a;
  border-radius: 4%;
}
.containerGrid p{
  margin: auto;
  padding: 5px;
  background-color: black;
}

.imgGrid{
  width: 300px;
  height: 200px;
}

.bodyGrid{
  margin: auto;
  margin-left: 4px;
}

.pointerClick:hover{
  cursor: pointer;
}
.commentContainer{
  margin-top: 2%;
  border-radius: 5px;
  background-color: #684abb9a;
  height: 70%;
 
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 5px 5px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.containerGridandcomment{
  align-items: center;
  justify-content: center;
}

.icButtonSave {
	color: green;
	font-size: 2.5em;
	
}
.icButtonSaved {
	color: red;
	font-size: 2.5em;
}

.paginaList{
  list-style: none;
  display: flex;
  justify-content: space-evenly;    
 
}

.btn5{
  background-color: rgb(201, 241, 214);
  border: 1px solid rgb(43, 104, 124);
  margin: 2px;
}
.btn6{
  background-color: rgb(225, 187, 172);
  border: 1px solid rgb(230, 157, 203);
  margin: 2px;
}


