#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;     
}

body{
  background-image: linear-gradient(lightgray, lightblue,blue);
  

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bigbox{
  width: 800px;
  
}

.header{
  margin-top: 0;
  display: flex;
  justify-content: space-between;
 
}
.links{
  margin: 6px;
}


