.form{
    border: solid 1px rgb(96, 94, 94);
    border-radius: 30px;
}

.form-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3px;
}
input{
    border-radius: 3px;
}

.registerButton{
    color: black;    
}

.username{
    margin: 5px;
}

.email{
    margin: 5px;
}

.pswd{
    margin: 5px;
}

.errores{
    border: solid red 1px;
    background-color: rgb(243, 51, 51);
    border-radius: 20px;
    width: 90%;
    margin-left: 8px;
    color: black;    
}

.footer{
    padding: 10px;
}

.registerButton:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(96, 94, 94);
}

.login1{
    color: black; 
}
.login1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(96, 94, 94);
}
.btn3{
    align-self: center;
}
