body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.form{
    border: solid 1px rgb(96, 94, 94);
    border-radius: 30px;
}

.form-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3px;
}
input{
    border-radius: 3px;
}

.registerButton{
    color: black;    
}

.username{
    margin: 5px;
}

.email{
    margin: 5px;
}

.pswd{
    margin: 5px;
}

.errores{
    background-color: rgb(255, 173, 173);
	border: 1px solid  rgb(255, 76, 76);
	border-radius: 5px;
	padding: 7px;
	margin-top: 5px;
	font-size: 13px;
	width: 280px;
}

.footer{
    padding: 10px;
}

.registerButton:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(96, 94, 94);
}

.login1{
    color: black; 
}
.login1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(96, 94, 94);
}
.btn3{
    align-self: center;
}

.logout{
    color: black; 
    cursor: pointer;
    text-decoration: underline;
    color: rgb(96, 94, 94);
}
